
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h2 class="my-3">Editing Book</h2>
      <%= flash[:notice] %>
      <% if @book.errors.any? %>
        <%= @book.errors.count %>error prohibited this obj from being saved:
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @book do |f| %>
        <label for="Title">Title</label><br>
        <%= f.text_field :title, autofocus: true, id:"title", class: "mb-3 w-100" %><br>
        <label for="Opinion">Opinion</label><br>
        <%= f.text_area :body, autofocus: true, id:"Opinion", class: "mb-3 w-100" %><br>
        <%= f.submit "Update Book", class: "btn btn-secondary"%>
      <% end %>
      <div class="link mt-3">
      <%= link_to 'Show', book_path(@book.id) %>
      <span>|</span>
      <%= link_to 'Back', books_path %>
    </div>
    </div>
  </div>
</div>