<%= flash[:notice] %>
<div>
  <p>Title: <%= @book.title %></p>
  <p>Opinion: <%= @book.body %></p>
  <p>User: <%= @book.user.name %></p>

  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book.id), method: :delete %>
  <% end %>
  <% if @book.user == current_user %>
    <%= link_to "update", edit_book_path(@book.id) %>
  <% end %>
</div>
