<div class="container">
  <%= flash[:notice] %>
  <div class="row mt-3">
    <div class="col-md-3">

      <%= render 'profile', user: @user %>

      <%= render 'book', book: @book %>

    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="border-top w-100">
        <tr>
          <td class="pt-1">
            <%= image_tag @bookshow.user.get_profile_image %><br>
            <%= link_to @bookshow.user.name, user_path(@bookshow.user.id) %>
          </td>
          <td class="align-baseline pt-3">
            <%= link_to @bookshow.title, book_path(@bookshow.id) %>
          </td>
          <td class="align-baseline pt-3">
            <%= @bookshow.body %>
          </td>
          
          <% if @bookshow.user == current_user %>
          <td class="align-baseline pt-3">
            <%= link_to "Edit", edit_book_path(@bookshow.id), class: "btn btn-success" %>
          </td>
          <% end %>

          <% if @bookshow.user == current_user %>
          <td class="align-baseline pt-3">
            <%= link_to "Destroy", book_path(@bookshow.id), method: :delete, class: "btn btn-danger", data: {confirm: "削除しますか？"} %>
          </td>
          <% end %>
          
        </tr>
      </table>
    </div>
  </div>
</div>



